.profile li a {
  cursor: pointer;
}
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #99c4d4;
}
.bg {
  background: #238aba !important;
}
.navbar-brand {
  font-family: "Roboto", sans-serif;
}
